<%- include('partials/header',{id : id}); %>


<div class="container" style="text-align: center;margin:10px auto">
    <% if(words.length > 0) { %>
        <div style="margin:  10px auto;">
            <% words.forEach(element => {  %>
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <h1><%= element.name %></h1>
                      </div>
                      <div class="flip-card-back">
                        <h3>Meaning : <%= element.meaning %></h3>
                        <h3>Mnemonics : <%= element.mnemonic %></h3>
                        <h3>Sentence : <%= element.sentence %></h3>
                      </div>
                    </div>
                  </div>
          <%  }); %>
        </div>
        <% } else { %>
            <strong>
                SEEMS LIKE YOU HAVEN'T MASTERED A SINGLE WORD UNTIL NOW!!
            </strong>
        <%  }  %>
    </div>

<%- include('partials/footer'); %>