<%- include('partials/header'); %>

   <header class="jumbotron">
       <div class="container">
         <h1>WE THINK YOU'RE LOOKING FOR ONE OF THESE MOVIES</h1>
       </div>
   </header>
       <div class="row text-center" style="display:flex; flex-wrap: wrap;">
       <% data["results"].forEach(movie => { %>
           <div class="col-md-3 col-sm-6">
               <div class="card">
                   <img class="img-thumbnail img-fluid" src="https://image.tmdb.org/t/p/w500<%- movie["poster_path"] %>" alt="Poster pic">
                   <!-- You gotta remove the bottom border -->
                   <div class="caption">
                       <h4><a href="/search/main?id=<%= movie["id"] %>" id="a"><%= movie["title"] %></a></h4>
                   </div>
               </div>
           </div>
       <% }); %>
   </div>



<%- include('partials/footer'); %>