<%- include('partials/header'); %>
<div style="padding: 5px;">
    <h2 class="p-4 mb-2 bg-dark text-white" style="font-weight: 100;">Search Your Favourite Movies</h1>

    <form action="/search/result" method="GET">
        <input type="text" placeholder="search term" name="search">
        <input type="submit" class="btn btn-sm btn-dark">
    </form>
</div>
<div>
    <div class="p-4 mb-2 bg-dark text-white"><h3>HERE ARE SOME OF THE UPCOMING MOVIES</h3></div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% data["results"].forEach(movie => { %>
            <div class="col-md-2 col-sm-6">
                <div class="card">
                    <img class="img-thumbnail img-fluid" src="https://image.tmdb.org/t/p/w500<%- movie["poster_path"] %>" alt="Poster pic">
                    <!-- You gotta remove the bottom border -->
                    <div class="caption">
                        <h4><a href="/search/main?id=<%= movie["id"] %>" id="a"><%= movie["title"] %></a></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<div>
    <div class="p-4 mb-2 bg-dark text-white"><h3>HERE ARE SOME OF THE TOP RATED MOVIES</h3></div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% d["results"].forEach(movie => { %>
            <div class="col-md-2 col-sm-6">
                <div class="card">
                    <img class="img-thumbnail img-fluid" src="https://image.tmdb.org/t/p/w500<%- movie["poster_path"] %>" alt="Poster pic">
                    <!-- You gotta remove the bottom border -->
                    <div class="caption">
                        <h4><a href="/search/main?id=<%= movie["id"] %>" id="a"><%= movie["title"] %></a></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include('partials/footer'); %>